# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Large / Local Data
# =========================
Data/Raw/
Data/Staging/

# =========================
# Temporary files
# =========================
*.tmp
*.log
*.bak

# =========================
# Cleaned datasets
# =========================
Data/Cleaned/